@use '../../../../styles/' as *;

.hero {
  background-color: $peach;
  color: $white;
  text-align: center;
  padding-inline: rem(23);
  padding-block-start: rem(92);
  overflow: hidden;
  background-image: url('../../../../assets/home/desktop/bg-pattern-hero-home.svg');
  background-repeat: no-repeat;
  background-position: top rem(105) right rem(-300);
  min-height: rem(843);

  &__title {
    font-size: rem(32);
    line-height: rem(36);
    font-weight: 500;
  }

  &__description {
    font-size: rem(15);
    line-height: rem(25);
    font-weight: normal;
    padding-block: rem(14) rem(24);
  }

  &__learn-more-button {
    display: inline-block;
    width: rem(152);
    height: rem(56);
    line-height: rem(56);
    text-align: center;
    font-size: rem(15);
    letter-spacing: rem(1);
    text-transform: uppercase;
    background-color: $white;
    border-radius: rem(8);
    transition: 0.2s;

    &:hover {
      color: $white;
      background-color: $peach-light;
    }
  }

  &__image {
    margin-block: rem(80) rem(-200);
    width: rem(284);
    margin-inline: auto;
  }
}

@media (width >= rem(700)) {
  .hero {
    margin-inline: rem(39);
    border-radius: rem(15);
    // margin-top: rem(67);
    background-position: top rem(130) right rem(-100);
    padding-inline: rem(100);

    &__title {
      font-size: rem(48);
      line-height: rem(48);
    }

    &__description {
      font-size: rem(16);
      line-height: rem(26);
      margin-block: rem(11) rem(40);
    }
  }
}

@media (width >= rem(1024)) {
  .hero {
    display: flex;
    gap: rem(100);
    background-repeat: no-repeat;
    background-position: top right;
    text-align: left;
    // margin-top: rem(67);
    padding-inline: rem(95);
    margin-inline: rem(165);
    padding-block-start: rem(145);
    min-height: rem(640);

    &__image {
      margin-block: 0;
    }
  }
}
