@use '../../../../styles/' as *;

.services-list {
  padding-inline: rem(23);
  display: grid;
  gap: rem(24);

  &__web {
    @include backgroundImage(
      '../../../../assets/home/desktop/image-web-design-small.jpg'
    );
  }

  &__app {
    @include backgroundImage(
      '../../../../assets/home/desktop/image-app-design.jpg'
    );
  }
  &__graphic {
    @include backgroundImage(
      '../../../../assets/home/desktop/image-graphic-design.jpg'
    );
  }
}

@media (width >=700) {
  .services-list {
    padding-inline: rem(39);
  }
}

@media (width>=rem(1024)) {
  .services-list {
    padding-inline: rem(165);
    grid-template-columns: repeat(2, 1fr);

    &__web {
      grid-column: 1/2;
      grid-row: 1/3;
      @include backgroundImage(
        '../../../../assets/home/desktop/image-web-design-large.jpg'
      );
    }

    &__app {
      grid-column: 2/3;
      grid-row: 1/2;
    }

    &__graphic {
      grid-column: 2/3;
      grid-row: 2/3;
    }
  }
}
