@use '../../../styles/' as *;

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(40);
  text-align: center;
  background-color: $black;
  color: $white;
  padding: rem(300) rem(39) rem(64);
  margin-top: rem(-200);

  &__logo {
    width: rem(202);
    height: rem(27);
  }

  &__links {
    border-top: rem(1) solid rgba(245, 245, 245, 0.3);
    width: 100%;
    padding-top: rem(32);

    & > *:not(:last-of-type) {
      padding-bottom: rem(20);
    }
  }

  &__link {
    color: $white;
    text-transform: uppercase;
    font-size: rem(14);
    line-height: rem(14);
    letter-spacing: rem(2);
  }

  &__contact,
  &__address {
    color: rgba(245, 245, 245, 0.591);

    & * {
      color: rgba(245, 245, 245, 0.591);
      font-size: rem(16);
      line-height: rem(26);
    }

    a:hover {
      color: $white;
    }
  }

  &__social-media {
    display: flex;
    gap: rem(16);

    & > * {
      font-size: rem(24);
      color: $peach;

      &:hover {
        cursor: pointer;
        color: $peach-light;
      }
    }
  }
}

@media (width >= rem(700)) {
  .footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: rem(150);
    margin-top: rem(-70);
    text-align: left;

    &__logo {
      grid-column: 1/2;
    }

    &__links {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column: 2/4;
      justify-items: end;
      border-top: 0;
      padding-top: 0;

      & > *:not(:last-of-type) {
        padding-bottom: 0;
      }
    }

    &__address {
      grid-column: 1/2;
    }

    &__contact {
      grid-column: 2/3;
    }

    &__social-media {
      grid-column: 3/4;
      align-self: end;
      justify-self: end;
    }
  }
}
