@use '../../styles/' as *;

.lets-talk-section {
  max-width: rem(327);
  margin: 0 auto;
  padding: rem(68) rem(25);
  text-align: center;
  background-color: $peach;
  color: $white;
  border-radius: rem(10);
  @include backgroundImage(
    '../../assets/shared/desktop/bg-pattern-call-to-action.svg'
  );

  position: relative;

  &__title {
    margin: 0 auto;
    font-size: rem(32);
    font-weight: 500;
    line-height: rem(36);
    padding-block-end: rem(6);
    text-align: center;
  }

  &__description {
    font-size: rem(15);
    line-height: rem(25);
    margin-block-end: rem(32);
  }

  &__get-in-touch-button {
    display: inline-block;
    background-color: $white;
    text-transform: uppercase;
    width: rem(152);
    height: rem(56);
    line-height: rem(56);
    text-align: center;
    border-radius: rem(8);
    transition: 0.2s;

    &:hover {
      background-color: $peach-light;
      color: white;
    }
  }
}

@media (width>=rem(700)) {
  .lets-talk-section {
    margin-inline: rem(39);
    padding-inline: rem(126);
    max-width: 100%;

    &__title {
      font-size: rem(40);
      line-height: rem(40);
    }

    &__description {
      font-size: rem(16);
      line-height: rem(26);
    }
  }
}
@media (width>=rem(1024)) {
  .lets-talk-section {
    display: flex;
    text-align: left;
    justify-content: space-between;
    padding-inline: rem(94);
    margin-inline: rem(165);
    align-items: center;
    // max-width: rem(1111);
    max-width: 100%;

    &__title {
      width: 100%;
      text-align: left;
      padding-right: 45%;
      padding-block-end: rem(20);
    }

    &__description {
      padding-right: 30%;
      // width: 60%;
    }
  }
}
